body{
    background-color: black;
}

#canvas1{
   
    height: 700px;
    width: 800px;
    position: relative;
  left: 50%;
    transform: translate(-50%);
}

#container{
    position: absolute;
    width: 800px;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
   

} 

#slider{
    position: relative;
    width: 100%;
    left: 50%;
    transform: translate(-50%);
}
p{position: relative;
    font-size: 25px;
    
    color: white;
}